<form *ngIf="updateProductForm" class="mt-5 col-md-6 m-auto" [formGroup]="updateProductForm" (ngSubmit)="onSubmitForm()">
    <h1>Modifier Produits</h1>
    <div class="mb-3">
        <label for="name" class="form-label">Nom</label>
        <div class="input-group">
            <input placeholder="entrer le nom du produit" formControlName="name" type="text" class="form-control"
                aria-describedby="userHelp" id="name">
        </div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <div class="input-group">
            <input placeholder="entrer la description du produit" formControlName="description" type="text"
                class="form-control" aria-describedby="userHelp" id="description">
        </div>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Prix</label>
        <div class="input-group">
            <input placeholder="entrer le prix du produit" formControlName="price" type="number" class="form-control"
                aria-describedby="userHelp" id="price">
        </div>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <div class="input-group">
            <input placeholder="entrer l'url du produit" formControlName="imageUrl" type="text" class="form-control"
                aria-describedby="userHelp" id="image">
        </div>
    </div>
    <div class="d-grid col-12 col-md-2 ms-auto">
        <button [disabled]="updateProductForm.invalid" type="submit" class="btn btn-primary text-nowrap">Modifier</button>
    </div>
</form>

