<div class="container-fluid">
    <footer class="d-flex flex-wrap expand-xl justify-content-between  align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
           
        </a>
        <span class="text-muted">© 2021 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-1"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                    <use xlink:href="#twitter"></use>
                </svg><img src="assets/IMG/twitter.png" alt="" style="height: 35px;padding: 0px;"></a></li>
        <li class="ms-1"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                    <use xlink:href="#instagram"></use>
                </svg><img src="assets/IMG/facebook.png" alt="" style="height: 28px;margin-top:4px;padding: 0px;"></a></li>
        <li class="ms-1"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                    <use xlink:href="#facebook"></use>
                </svg><img src="assets/IMG/instagram.png" alt="" style="height: 28px;margin-top:4px;padding: 0px;"></a></li>
    </ul>
</footer>
</div>
