<article class="pt-2 table-responsive-sm" style="margin-top: 100px ;">

<h1>Modifier</h1>

<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of listProducts">
            <td>{{product.imageUrl}}</td> 
            <td>{{product.name}}</td> 
            <td>{{product.description}}</td> 
            <td>{{product.price}}</td> 
            <td>
                <button class="btn btn-warning" routerLink="/update-product/{{product.id}}">Modifier</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="onClickDeleteProduct(product.id)">Supprimer</button>
            </td>
            
        </tr>
        
    </tbody>
    
</table>
</article>

