/* 
 * ----------------------------
 * Common CSS
 * ----------------------------
 */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

ul {
    margin: 0
}

button,
input[type=button] {
    cursor: pointer
}

button:focus,
input:focus {
    outline: 0
}

input {
    border: none
}

button {
    border: none;
    background: 0 0
}

img {
    max-width: 100%;
    height: auto
}

p {
    margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: 700;
    margin: 0;
    line-height: 1.2
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 15px
}

h6 {
    font-size: 13px
}

a {
    display: inline-block
}

a:active,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0
}

a,
a:hover {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease
}

/*Layout Css*/
.section-content-p35 {
    padding: 0 35px
}

.page-wrapper {
    overflow: hidden;
    background: #e5e5e5;
    padding-bottom: 8vh
}

.page-container {
    background: #e5e5e5;
    padding-left: 200px
}

.main-content {
    padding-top: 116px;
    min-height: 100vh
}

aside.menu-sidebar.d-none.d-lg-block.clr {
    background: 0 0;
    z-index: 99999999;
    height: 75px;
    box-shadow: -2px 0 4px #0000003b
}

/* 
 * ----------------------------
 * Header Desktop Section
 * ----------------------------
 */

